SourceCode/Web References/NrbIBReturn/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="returnMappFcdbEftnWebService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACTIONUSER_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDFCATREF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RETURN_REASON" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RETURN_CODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RETURN_FCCREFF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="REMARKS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="REMARKS1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="returnMappFcdbEftnWebServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="returnMappFcdbEftnWebServiceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="returnMappFcdbEftnWebServiceSoapIn">
    <wsdl:part name="parameters" element="tns:returnMappFcdbEftnWebService" />
  </wsdl:message>
  <wsdl:message name="returnMappFcdbEftnWebServiceSoapOut">
    <wsdl:part name="parameters" element="tns:returnMappFcdbEftnWebServiceResponse" />
  </wsdl:message>
  <wsdl:message name="returnMappFcdbEftnWebServiceHttpGetIn">
    <wsdl:part name="ACTIONUSER_ID" type="s:string" />
    <wsdl:part name="IDFCATREF" type="s:string" />
    <wsdl:part name="STATUS" type="s:string" />
    <wsdl:part name="RETURN_REASON" type="s:string" />
    <wsdl:part name="RETURN_CODE" type="s:string" />
    <wsdl:part name="RETURN_FCCREFF" type="s:string" />
    <wsdl:part name="REMARKS" type="s:string" />
    <wsdl:part name="REMARKS1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="returnMappFcdbEftnWebServiceHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="returnMappFcdbEftnWebServiceHttpPostIn">
    <wsdl:part name="ACTIONUSER_ID" type="s:string" />
    <wsdl:part name="IDFCATREF" type="s:string" />
    <wsdl:part name="STATUS" type="s:string" />
    <wsdl:part name="RETURN_REASON" type="s:string" />
    <wsdl:part name="RETURN_CODE" type="s:string" />
    <wsdl:part name="RETURN_FCCREFF" type="s:string" />
    <wsdl:part name="REMARKS" type="s:string" />
    <wsdl:part name="REMARKS1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="returnMappFcdbEftnWebServiceHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="returnMappFcdbEftnWebService">
      <wsdl:input message="tns:returnMappFcdbEftnWebServiceSoapIn" />
      <wsdl:output message="tns:returnMappFcdbEftnWebServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="returnMappFcdbEftnWebService">
      <wsdl:input message="tns:returnMappFcdbEftnWebServiceHttpGetIn" />
      <wsdl:output message="tns:returnMappFcdbEftnWebServiceHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="returnMappFcdbEftnWebService">
      <wsdl:input message="tns:returnMappFcdbEftnWebServiceHttpPostIn" />
      <wsdl:output message="tns:returnMappFcdbEftnWebServiceHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnMappFcdbEftnWebService">
      <soap:operation soapAction="http://tempuri.org/returnMappFcdbEftnWebService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnMappFcdbEftnWebService">
      <soap12:operation soapAction="http://tempuri.org/returnMappFcdbEftnWebService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="returnMappFcdbEftnWebService">
      <http:operation location="/returnMappFcdbEftnWebService" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="returnMappFcdbEftnWebService">
      <http:operation location="/returnMappFcdbEftnWebService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.100.80.44/fcdbservcie/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.100.80.44/fcdbservcie/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://10.100.80.44/fcdbservcie/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://10.100.80.44/fcdbservcie/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>